{% load static %}
<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Blog{% endblock title %}</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <section>
            <header>
                <img class="pngcover" src="{% static 'images/tri.png' %}">
            </header>
        </section>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>سلام {{ user.email }}</li>
                <li>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button type="submit">خروج</button>
                    </form>
                </li>
                {% else %}
                    <li>شما وارد نشده اید</li>
                    <li><a href="{% url 'account_login' %}">ورود</a></li>
                    <li><a href="{% url 'account_signup' %}">ثبت نام</a></li>
                {% endif %}
                <li><a href="{% url 'pages:about' %}">درباره ما</a></li>
            </ul>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        <!-- JS -->
        <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>